#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey;
}

.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.game{
    height: 300px;
    width: 300px;
}

.me{
    height: 300px;
    width: 350px;
}

.car{
    height: 350px;
    width: 500px;
}

.movie1, .movie2{
    height: 400px;
    width: 250px;
}

.food_img{
    height: 65%;
    width: 100%;
}

.food_mainDiv{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.food_mainDiv h5, p{
    margin: 20px;
}

.mark{
    line-height: 2;
}

#myCarousel{
    background-color: cadetblue;
}